html, body{
    background-image: url(../img/background.jpg);
}

.info-index{
    position: relative;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: #FFF !important;
    height: 100px;
    width: 100%;    
    font-family: 'Raleway', sans-serif !important;
    font-size: 2em;
    background: rgba(255,255,255,0.3);
    text-align: center;
    padding-top: 25px;
    border-radius: 3px;
}

